.numbers {
  display: inline-block;
  text-align: center;
  width: 75px;
  margin-left: 15px;
  font-size: 35px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 50%;
  box-shadow: 0 3px 3px black;
}
