<label>Password: <input password="input" (input)="onPasswordInput($event)"/></label>
<button (click)="showForm =!showForm">Open form</button>

<form *ngIf="showForm" (submit)="onAddImage($event)">

  <label>Image title: <input name="imageTitle" [(ngModel)]="picName"/></label>
  <label>Image url: <input name="imageUrl" [(ngModel)]="icon"/></label>

  <br/>

  <button (click)="addImage =!addImage" type="submit" [disabled] = "formIsEmpty()">Add image</button>
</form>



<app-gallery
  *ngFor="let picture of gallery"
  [picName]="picture.picName"
  [icon]="picture.icon"
></app-gallery>
