<h1>Lets play</h1>


<app-numbers></app-numbers>


<hr/>



<h2>Gallery</h2>

<label>Password: <input password="password" [(ngModel)]="password"/>

  <button type="submit" [disabled] = "formIsEmpty()">Open form</button>

  <hr/>
