
.newNumber-btn{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 20px 45px;
  font-size: 40px;
  font-weight: bold;
  background-color: #fff;
  color: gray;
  box-shadow: 0 3px 3px black;
}

